* { box-sizing: border-box; }
/* CSS Stylesheet */

/* Contents */

	/* General Change:				 line a; */
	/* Header:								 line b; */
	/* Content:								line c; */
	/* Footer:								 line d; */

/* End of Contents */



/* General Change */

h1 {
	margin: 0px;
}

p {
	margin: 0px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	line-height: 2.5em;
	color: #000000;
	margin: 0px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently
																	supported by Chrome and Opera */
}

/* End of General Change */



/* Header */
.header-wrapper {
	position: fixed;
}

.topnav {
	float:right;
	padding-top: 20px;
}

.topnav a{
	font-size: 20px;
	color: #ffffff;
}

/* End of Header */



/* Content */

.index-show {
	width: 100vw;
	height: calc(680px + 128px);
	max-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../images/index.jpeg");
	background-position: bottom right; 
}

.toshow {
	width: 50vw;
	min-width: 500px;
	padding-left: 10vw;
	padding-top: 20vh;
}

.toshow h1 {
	color: #FFFFFF;
	font-size: 55px;
	font-weight: 500;
	text-shadow: 4px 4px #777777;
	opacity: 0;
}

.toshow p {
	color: #FEFEFE;
	text-shadow: 2px 2px #777777;
	font-size: 25px;
	font-weight: 400;
	text-align: justify;
	opacity: 0;
}

.myinfo img {
	max-width: 170px;
	max-height: 170px;
	margin-right: 20px;
	float: left;
	border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    text-align: center;
    max-width: 80%;
}

.myinfo {
	padding-top: 150px;
	min-height: 300px;
}

.info-text {
}

.row-wrapper {
	text-align: center;
}

.row-wrapper h3 {
	padding-top: 100px;
	max-width: 100%;
}

.row-wrapper p {
	
}

.row {
	max-width: 1024px;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.projectimg {
	max-width: 100%;
	max-height: 200px;

}

.row-wrapper {
	/* background-color: #f7f7f7; */
}

.row h1 {
	padding-top: 20px;
	font-size: 30px;
}

.row p {
	font-size: 15px;
	line-height: 25px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.row-background {
	margin-top: 20px;
	margin-bottom: 20px;
}

#about{
	min-height: 600px;
	height: auto;
}


#life-left {
	float: left;
}

#life-left img{
	margin-top: 50px;
	max-width: 200px;
}

#life-right {
	float: right;
}

#life-right img{
	margin-top: 50px;
	max-width: 200px;
}
/* End of Content */



/* Footer */

footer {
	width: 100%;
	height: 160px;
}


footer p {
	color: #7c7d80;
	font-size: 20px;
	width:100%;
	text-align: center;
}

#footer-wrapper {
}

/* End of Footer */

