/* No extra margin for body, deal with the margins on a case by case basis */
body {
    margin: 0;
}

/* ============== General informations ============== */
/* General wrappers */
.content_wrapper{
    padding-top: 30px;
    width:80%;
    margin: auto;
}

.row_wrapper{
    padding-top: 20px;
    text-align: center;
}

/* color information */
#strawberry {
    background-color:red;
}

#blackberry {
    background-color:darkblue;
}

#crazyberry {
    background-color: purple;
}

#fire_orange {
    background-color:orange;
}

/* ============== Nav bar ============== */
#nav {
    margin-top: 5px;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#nav #logo{
    float:left;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5px;
}

#nav .nav_content {
    float: right;
    height: 50px;
    display: grid;
    width: 70%;
    grid-template-columns: 70% 20% 10%;
}

#nav .box {
    height: 50px;
}

#nav form {
    height: 50px;
}

/* Search functionality in nav bar */
#search {
    padding-top: 5px;
}

#search input[type=text] {
    float:left;
    border: none;
    background-color: rgba(196,196,196,0.6);
    width: 80%;
    height:40px;
    padding:0;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
}

#search button {
    background-color: #ffea00;
    width: 40px;
    border:none;
    cursor: pointer;
    height:40px;
    border-radius: 0 5px 5px 0;
}

#search_button img {
    height: 20px;
    width: 20px;
}

#sign_in {
    font-size: 25px;
    margin:0;
}

#order_and_acc {
    font-size: 13px;
    margin:0;
    margin-top: -12px;
}

#cart_img {
    width: 45px;
    height:45px;
}

#category .grid{
    background-color: #AB8463;
    display:grid;
    grid-template-columns: 15% 15% 30% 15% 15%;
    padding-left: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}

#category a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 0;
}

#main_img img{
    width:100%;
    height: 450px;
    overflow: hidden;
    object-fit: cover;
}

/* ============== Index page ==============  */
#index_info {
	width: 100vw;
	height: calc(600px);
	max-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../images/home.jpg");
	background-position: top right; 
}

#index_info h1 {
	color:#FFFFFF;
	font-size: 55px;
	font-weight: 500;
    text-shadow: 4px 4px #777777;
    margin: 0;
    padding-top: 180px;
    padding-left: calc(15vw);
    width: calc(80vw);
}

#index_info p {
	color: #FEFEFE;
	text-shadow: 2px 2px #777777;
	font-size: 25px;
	font-weight: 400;
    text-align: justify;
    margin-top: -20px;
    padding-left: calc(15vw);
    width: calc(80vw);
}

.browsing img {
    width:220px;
    height: 150px;
    object-fit: cover;
}

#advertisement img {
    padding-top: 20px;
    width:100%;
}

#browsing_content {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* ============== Product browsing page ==============  */
#categories {
    background-color: #C4C4C4;
    padding-left: 10px;
    border-radius: 5px;
}

#categories h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

#categories h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

#categories h3{
    text-decoration: underline;
}

.browsing h4 {
    color:black;
    text-decoration: none;
}

/* ============== Item detail page ==============  */
.item_detail{
    display: grid;
    grid-template-columns: 40% 35% 35%;
}

.item_detail .images #large_img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.item_detail .images .small_img {
    width: 123px;
    height: 123px;
    object-fit: cover;
    padding-right: 10px;
    padding-left: 0;
}

.descriptions label {
    font-size: 20px;
}

.descriptions h3 {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.descriptions p {
    padding-top: 30px;
    line-height: 2;
    font-size: 16px;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    appearance: none;
    border-radius: 3px;
    cursor: pointer;
}

.content_wrapper #reviews {
    display: grid;
    grid-template-columns: 30% 70%;
}

.review_message {
    margin-bottom: 50px;
}

.review_message h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.review_message img {
    width: 100px;
}

.review_message p {
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 2px;
}

.comment_row {
    text-align: left;
}

.comment_button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.comment_button {
    font-size: 18px;
}

.comment_button img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    top: 0;
}




@media screen and (max-width: 767px){
    #nav .nav_content {
        grid-template-columns: 100% 0% 0%;
        width: calc(100vw - 200px);
    }
	#search input[type=text] {
        width: auto;
    }
}


@media screen and (max-width: 444px){
    #nav .nav_content {
        grid-template-columns: 100% 0% 0%;
        width: calc(100vw - 200px);
    }

	#search input[type=text] {
        width: calc(100vw - 250px);
    }
}